<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{index.title}}</title>
      {{> loading/loading}}

  </head>
  <body  class="Hide">
    <div class='Main Index'>
      <ul class='ContentList'>
        {{#each defaultData.pages}}
          <li class='ListItem__Container'>
            <a class='ListItem' href='{{link}}'>
              <h2 class='ListItem__Text' item-state='not-active'>
                {{name}}
              </h2>
              <div class='ListItem__Image'>
                <img class='Image lazyload' data-src='{{img}}' alt='{{name}}' />
              </div>
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
    <script src='/index.js'></script>

  </body>
</html>