{% comment %}theme-check-disable TemplateLength{% endcomment %}
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'component-badge.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}

<link
  rel="stylesheet"
  href="{{ 'component-cart-notification.css' | asset_url }}"
  media="print"
  onload="this.media='all'">
<link
  rel="stylesheet"
  href="{{ 'component-deferred-media.css' | asset_url }}"
  media="print"
  onload="this.media='all'">

<style>

  .ProductMeta {
    --gallery-width: 480px;
    --gallery-height: 480px;
    --gallery-thumbnail-width: 100px;
    --gallery-thumbnail-height: 475px;
    --product-info-max-width: 475px;
    --product-info-max-height: 275px;
  }
  .ProductMeta.page-width {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 130rem;
  }
  .ProductMeta__DesktopGallery {
    display: flex;
    flex-direction: row;
    width: 50%;
    max-width: calc(var(--gallery-width) + 170px);
  }
  .ProductMeta__MobileGallery {
    display: none;
    width: 100%;
  }
  

  .ProductMeta__ProductInfo {
    max-width: var(--product-info-max-width);
    /*max-height: var(--product-info-max-height);*/
    width: 39.6%;
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 20px #00000029;
    border: 1px solid #D5D5D5;
    border-radius: 5px;
    opacity: 1;
    padding: 18px 28px 25px 23px;
    font: normal normal 500 18px/22px Montserrat;
    letter-spacing: 0px;
  }
  

  .ProductMeta__ProductInfo .product__title {
    margin: 0 0 12px;
    font-weight: 600;
  }
  .ProductMeta__ProductInfo .product__description {
    margin: 0 0 20px;
  }

  .ProductMeta__ProductInfo .ProductAvailability {
    display: flex;
    align-items: center;
    margin: 0;
    color: var(--product-availability-color)
  }
  .ProductMeta__ProductInfo .ProductAvailability .ProductAvailability__Icon {
    height: 15px;
    width: 15px;
    margin-right: 10px;
  }
  .ProductMeta__ProductInfo .ProductAvailability .ProductAvailability__Info {

  }
  .ProductMeta__ProductInfo .product-form {
    margin: 37px 0 0;
  }
  .ProductMeta__ProductInfo #price-{{ section.id }}{
    display: flex;
    align-items: center;
    margin: 0 0 18px;
    font: normal normal 600 18px/22px Montserrat;
  }

  .ProductMeta__ProductInfo .Price__AdditionalText {
    margin: 0 0 0 6px;
    font: normal normal 500 10px/13px Montserrat;
  }
  .ProductMeta__ProductInfo .price dd{
    margin-right: 20px;
  }
  .ProductMeta__ProductInfo .price--on-sale{
    color: #1F47FF;
  }

  @media screen and (max-width: 1024px) {
    .ProductMeta.page-width {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding: 0;
    }

    .ProductMeta__DesktopGallery {
      display: none;
    }
    .ProductMeta__MobileGallery {
      display: block;
    }

    .ProductMeta__ProductInfo {
      max-width: var(--product-info-max-width);
      /*max-height: var(--product-info-max-height);*/
      width: calc(100% - 40px);
      margin: 0 20px;
      padding: 26px 20px 25px;
      font: normal normal 400 16px/19px Montserrat;
      letter-spacing: 0px;
    }
    .ProductMeta__ProductInfo .product-form {
      margin: 34px 0 0;
    }
    .ProductMeta__ProductInfo #price-{{ section.id }} {
      margin: 0 0 21px;
      font: normal normal 600 16px/19px Montserrat;
    }

    .ProductMeta__ProductInfo .product__title {
      font: normal normal 600 22px/27px Montserrat;
      margin: 0 0 10px;
    }
    .ProductMeta__ProductInfo .product__description {
      font: normal normal 400 16px/19px Montserrat;
      margin: 0 0 23px;
    }
  }
</style>

<section
  class="page-width ProductMeta">
  <div
    class="ProductMeta__DesktopGallery">
    {%- render 'swiper-with-thumbnails', media: product.media -%}
  </div>
  <div
    class="ProductMeta__MobileGallery">
    {%- render 'image-swiper', media: product.media -%}
  </div>
  <div
    class="ProductMeta__ProductInfo">
    <div
      id="ProductInfo-{{ section.id }}"
      class="product__info-container{% if section.settings.enable_sticky_info %} product__info-container--sticky{% endif %}">
      {%- assign product_form_id = 'product-form-' | append: section.id -%}

      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'product_availibilty' -%}
          <div
            class="ProductAvailability" style="--product-availability-color: {{ block.settings.product_availability_text_color }}">
            <svg class="ProductAvailability__Icon" viewBox="0 0 512 512">
              <title>circle-filled</title>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="icon" fill="currentColor" transform="translate(42.666667, 42.666667)">
                  <path d="M213.333333,3.55271368e-14 C331.15408,3.55271368e-14 426.666667,95.5125867 426.666667,213.333333 C426.666667,331.15408 331.15408,426.666667 213.333333,426.666667 C95.5125867,426.666667 3.55271368e-14,331.15408 3.55271368e-14,213.333333 C3.55271368e-14,95.5125867 95.5125867,3.55271368e-14 213.333333,3.55271368e-14 Z" id="Combined-Shape">

                  </path>
                </g>
              </g>
            </svg>
            {%- if product.available == true -%}
              <span
                class="ProductAvailability__Info">{{ block.settings.product_availability_text_available }}</span>
            {%- else -%}
              <span
                class="ProductAvailability__Info">{{ block.settings.product_availability_text_unavailable }}</span>
            {% endif %}
          </div>
          {%- when '@app' -%}
          {% render block %}
          {%- when 'text' -%}
          <p
            class="product__text{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}"
            {{ block.shopify_attributes }}>
            {{- block.settings.text -}}
          </p>
          {%- when 'title' -%}
          <h1
            class="product__title"
            {{ block.shopify_attributes }}>
            {{ product.title | escape }}
          </h1>
          {%- when 'price' -%}
          <div
            class="no-js-hidden"
            id="price-{{ section.id }}"
            {{ block.shopify_attributes }}>
            {%- render 'price', product: product, use_variant: true, show_badges: false, price_class: 'price--large' -%}
            {%- if block.settings.display_additional_text == true -%}
              <p class="Price__AdditionalText">
                {{ block.settings.additional_text }}
              </p>
            {%- endif -%}
          </div>
          <div
            {{ block.shopify_attributes }}>
            {%- form 'product', product, id: 'product-form-installment', class: 'installment caption-large' -%}
              <input
                type="hidden"
                name="id"
                value="{{ product.selected_or_first_available_variant.id }}">
              {{ form | payment_terms }}
            {%- endform -%}
          </div>
          {%- when 'description' -%}
          {%- if product.description != blank -%}
            <div
              class="product__description rte">
              {{ product.description }}
            </div>
          {%- endif -%}
          {%- when 'collapsible_tab' -%}
          <div
            class="product__accordion accordion"
            {{ block.shopify_attributes }}>
            <details>
              <summary>
                <div
                  class="summary__title">
                  {% render 'icon-accordion', icon: block.settings.icon %}
                  <h2
                    class="h4 accordion__title">
                    {{ block.settings.heading | default: block.settings.page.title }}
                  </h2>
                </div>
                {% render 'icon-caret' %}
              </summary>
              <div
                class="accordion__content rte">
                {{ block.settings.content }}
                {{ block.settings.page.content }}
              </div>
            </details>
          </div>
          {%- when 'quantity_selector' -%}
          <div
            class="product-form__input product-form__quantity"
            {{ block.shopify_attributes }}>
            <label
              class="form__label"
              for="Quantity-{{ section.id }}">
              {{ 'products.product.quantity.label' | t }}
            </label>
            <quantity-input
              class="quantity">
              <button
                class="quantity__button no-js-hidden"
                name="minus"
                type="button">
                <span
                  class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                {% render 'icon-minus' %}
              </button>
              <input
                class="quantity__input"
                type="number"
                name="quantity"
                id="Quantity-{{ section.id }}"
                min="1"
                value="1"
                form="product-form-{{ section.id }}">
              <button
                class="quantity__button no-js-hidden"
                name="plus"
                type="button">
                <span
                  class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                {% render 'icon-plus' %}
              </button>
            </quantity-input>
          </div>
          {%- when 'popup' -%}
          <modal-opener
            class="product-popup-modal__opener no-js-hidden"
            data-modal="#PopupModal-{{ block.id }}"
            {{ block.shopify_attributes }}>
            <button
              id="ProductPopup-{{ block.id }}"
              class="product-popup-modal__button link"
              type="button"
              aria-haspopup="dialog">{{ block.settings.link_label | default: block.settings.page.title }}</button>
          </modal-opener>
          <a
            href="{{ block.settings.page.url }}"
            class="product-popup-modal__button link no-js">{{ block.settings.link_label }}</a>
          {%- when 'share' -%}
          <share-button
            class="share-button"
            {{ block.shopify_attributes }}>
            <button
              class="share-button__button button button--tertiary hidden">
              {% render 'icon-share' %}
              {{ 'general.share.share' | t }}
            </button>
            <details>
              <summary
                class="share-button__button button button--tertiary">
                {% render 'icon-share' %}
                {{ 'general.share.share' | t }}
              </summary>
              <div
                class="share-button__fallback">
                <div
                  class="field">
                  <input
                    type="text"
                    class="field__input"
                    id="url"
                    value="{{ shop.url | append: product.url }}"
                    placeholder="{{ 'general.share.share_url' | t }}"
                    onclick="this.select();"
                    readonly>
                  <label
                    class="field__label"
                    for="url">{{ 'general.share.share_url' | t }}</label>
                </div>
                <button
                  class="button button--tertiary">
                  {% render 'icon-clipboard' %}
                  {{ 'general.share.copy_to_clipboard' | t }}
                </button>
                <span
                  id="ShareMessage-{{ section.id }}"
                  class="share-button__message hidden"
                  role="status"
                  aria-hidden="true">
                  {{ 'general.share.success_message' | t }}
                </span>
              </div>
            </details>
          </share-button>
          <script
            src="{{ 'share.js' | asset_url }}"
            defer="defer"></script>
          {%- when 'variant_picker' -%}
          {%- unless product.has_only_default_variant -%}
            {%- if block.settings.picker_type == 'button' -%}
              <variant-radios
                class="no-js-hidden"
                data-section="{{ section.id }}"
                data-url="{{ product.url }}"
                {{ block.shopify_attributes }}>
                {%- for option in product.options_with_values -%}
                  <fieldset
                    class="js product-form__input">
                    <legend
                      class="form__label">{{ option.name }}</legend>
                    {%- for value in option.values -%}
                      <input
                        type="radio"
                        id="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}"
                        name="{{ option.name }}"
                        value="{{ value | escape }}"
                        form="product-form-{{ section.id }}"
                        {% if option.selected_value == value %}checked{% endif %}>
                      <label
                        for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}">
                        {{ value }}
                      </label>
                    {%- endfor -%}
                  </fieldset>
                {%- endfor -%}
                <script
                  type="application/json">
                  {{ product.variants | json }}
                </script>
              </variant-radios>
            {%- else -%}
              <variant-selects
                class="no-js-hidden"
                data-section="{{ section.id }}"
                data-url="{{ product.url }}"
                {{ block.shopify_attributes }}>
                {%- for option in product.options_with_values -%}
                  <div
                    class="product-form__input product-form__input--dropdown">
                    <label
                      class="form__label"
                      for="Option-{{ section.id }}-{{ forloop.index0 }}">
                      {{ option.name }}
                    </label>
                    <div
                      class="select">
                      <select
                        id="Option-{{ section.id }}-{{ forloop.index0 }}"
                        class="select__select"
                        name="options[{{ option.name | escape }}]"
                        form="product-form-{{ section.id }}">
                        {%- for value in option.values -%}
                          <option
                            value="{{ value | escape }}"
                            {% if option.selected_value == value %}selected="selected"{% endif %}>
                            {{ value }}
                          </option>
                        {%- endfor -%}
                      </select>
                      {% render 'icon-caret' %}
                    </div>
                  </div>
                {%- endfor -%}

                <script
                  type="application/json">
                  {{ product.variants | json }}
                </script>
              </variant-selects>
            {%- endif -%}
          {%- endunless -%}

          <noscript>
            <div
              class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
              <label
                class="form__label"
                for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
              <div
                class="select">
                <select
                  name="id"
                  id="Variants-{{ section.id }}"
                  class="select__select"
                  form="product-form">
                  {%- for variant in product.variants -%}
                    <option
                      {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}{% if variant.available == false %}disabled{% endif %}
                      value="{{ variant.id }}">
                      {{ variant.title }}
                      {%- if variant.available == false %}
                        - {{ 'products.product.sold_out' | t }}{% endif %}
                      - {{ variant.price | money | strip_html }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
            </div>
          </noscript>
          {%- when 'buy_buttons' -%}
          <div
            {{ block.shopify_attributes }}>
            <product-form
              class="product-form">
              {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                <input
                  type="hidden"
                  name="id"
                  value="{{ product.selected_or_first_available_variant.id }}">
                <div
                  class="product-form__buttons">
                  <button
                    type="submit"
                    name="add"
                    class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                    {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}>
                    {%- if product.selected_or_first_available_variant.available -%}
                      {{ 'products.product.add_to_cart' | t }}
                    {%- else -%}
                      {{ 'products.product.sold_out' | t }}
                    {%- endif -%}
                  </button>
                  {%- if block.settings.show_dynamic_checkout -%}
                    {{ form | payment_button }}
                  {%- endif -%}
                </div>
              {%- endform -%}
            </product-form>

            {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

            {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}

            <pickup-availability
              class="product__pickup-availabilities no-js-hidden"
              {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %}available{% endif %}
              data-base-url="{{ shop.url }}{{ routes.root_url }}"
              data-variant-id="{{ product.selected_or_first_available_variant.id }}"
              data-has-only-default-variant="{{ product.has_only_default_variant }}">
              <template>
                <pickup-availability-preview
                  class="pickup-availability-preview">
                  {% render 'icon-unavailable' %}
                  <div
                    class="pickup-availability-info">
                    <p
                      class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
                    <button
                      class="pickup-availability-button link link--text underlined-link">{{ 'products.product.pickup_availability.refresh' | t }}</button>
                  </div>
                </div>
              </template>
            </pickup-availability>
          </div>


        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
  <script
    src="{{ 'product-form.js' | asset_url }}"
    defer="defer"></script>
</section>

{% schema %}
  {
    "name": "Product Meta",
    "tag": "section",
    "class": "product-section spaced-section",
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "text",
        "name": "t:sections.main-product.blocks.text.name",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "default": "Text block",
            "label": "t:sections.main-product.blocks.text.settings.text.label"
          }, {
            "type": "select",
            "id": "text_style",
            "options": [
              {
                "value": "body",
                "label": "t:sections.main-product.blocks.text.settings.text_style.options__1.label"
              }, {
                "value": "subtitle",
                "label": "t:sections.main-product.blocks.text.settings.text_style.options__2.label"
              }, {
                "value": "uppercase",
                "label": "t:sections.main-product.blocks.text.settings.text_style.options__3.label"
              }
            ],
            "default": "body",
            "label": "t:sections.main-product.blocks.text.settings.text_style.label"
          }
        ]
      },
      {
        "type": "title",
        "name": "t:sections.main-product.blocks.title.name",
        "limit": 1
      },
      {
        "type": "price",
        "name": "t:sections.main-product.blocks.price.name",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "display_additional_text",
            "label": "Display Additional Text"
          },
          {
            "type": "text",
            "id": "additional_text",
            "label": "Additional Text"
          }
        ]
      }, {
        "type": "quantity_selector",
        "name": "t:sections.main-product.blocks.quantity_selector.name",
        "limit": 1
      }, {
        "type": "product_availibilty",
        "name": "Product Availibility",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "product_availability_text_available",
            "label": "Product Available Text"
          },
          {
            "type": "text",
            "id": "product_availability_text_unavailable",
            "label": "Product Unavailable Text"
          },
          {
            "type": "color",
            "id": "product_availability_text_color",
            "label": "Text Color",
            "default": "#000"
          }
        ]
      }, {
        "type": "variant_picker",
        "name": "t:sections.main-product.blocks.variant_picker.name",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id": "picker_type",
            "options": [
              {
                "value": "dropdown",
                "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
              }, {
                "value": "button",
                "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
              }
            ],
            "default": "button",
            "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
          }
        ]
      }, {
        "type": "buy_buttons",
        "name": "t:sections.main-product.blocks.buy_buttons.name",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_dynamic_checkout",
            "default": true,
            "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
            "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
          }
        ]
      }, {
        "type": "description",
        "name": "t:sections.main-product.blocks.description.name",
        "limit": 1
      }, {
        "type": "share",
        "name": "t:sections.main-product.blocks.share.name",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "t:sections.main-product.blocks.share.settings.featured_image_info.content"
          }, {
            "type": "paragraph",
            "content": "t:sections.main-product.blocks.share.settings.title_info.content"
          }
        ]
      }, {
        "type": "collapsible_tab",
        "name": "t:sections.main-product.blocks.collapsible_tab.name",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Collapsible tab",
            "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
          }, {
            "type": "richtext",
            "id": "content",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
          }, {
            "type": "page",
            "id": "page",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
          }, {
            "type": "select",
            "id": "icon",
            "options": [
              {
                "value": "none",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
              },
              {
                "value": "box",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
              },
              {
                "value": "chat_bubble",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
              },
              {
                "value": "check_mark",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
              }, {
                "value": "dryer",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
              }, {
                "value": "eye",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
              }, {
                "value": "heart",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
              }, {
                "value": "iron",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
              }, {
                "value": "leaf",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
              }, {
                "value": "leather",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
              }, {
                "value": "lock",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
              }, {
                "value": "map_pin",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
              }, {
                "value": "pants",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
              }, {
                "value": "plane",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
              }, {
                "value": "price_tag",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
              }, {
                "value": "question_mark",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
              }, {
                "value": "return",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
              }, {
                "value": "ruler",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
              }, {
                "value": "shirt",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
              }, {
                "value": "shoe",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
              }, {
                "value": "silhouette",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
              }, {
                "value": "star",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
              }, {
                "value": "truck",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
              }, {
                "value": "washing",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
              }
            ],
            "default": "check_mark",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
          }
        ]
      }
    ],
    "settings": [],
    "presets": [
      {
        "name": "Product Meta"
      }
    ]
  }
{% endschema %}